body.light {
  background-color: #FFF;
}

body.dark {
  background-color: #000;
  color: #EFF;
}

body.dark .mdc-icon-button__icon.material-icons {
  filter: invert(1);
}

body.dark a {
  filter: invert(1);
}