body.bar {
  background-image: url('./bar.jpg');
  background-size: cover;
  background-position: center;
}

body.beer {
  background-image: url('./beer.png')
}

body.wisky {
  background-image: url('./wisky.png')
}